.tour-dates {
  &__container {
    display: grid;
    position: relative;
    width: 90vw;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 3rem;
    text-align: center;
    z-index: 10;
    @media only screen and (max-width: 553px) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
  }
}
