@use "../abstracts/variables";

.tour-dates {
  &__box {
    display: flex;
    flex-direction: column;
    background-color: variables.$color-primary-light;
    border-radius: 8px;
    gap: 1.6rem;
    padding: 4rem;
    box-shadow: 0 10px 20px rgba(variables.$color-secondary-950, 0.07);
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}
