*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}
